<title>人员管理</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>车辆</cite></a>
    <a><cite>车辆列表</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div
      class="layui-form layui-card-header layuiadmin-card-header-auto searh_bar"
      lay-filter="carList_search_form"
    >
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">车牌号</label>
          <div class="layui-input-block">
            <input
              type="text"
              name="plateNumber"
              placeholder="请输入"
              autocomplete="off"
              class="layui-input"
            />
          </div>
        </div>
        <div class="layui-inline">
          <button
            class="layui-btn layuiadmin-btn-admin"
            lay-submit
            lay-filter="carList_search_form"
          >
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
        <div class="layui-inline">
          <!-- <button class="layui-btn layuiadmin-btn-admin" data-type="delCar">
            删除
          </button> -->
          <button
            class="layui-btn layuiadmin-btn-admin"
            id="addCar"
            style="display: none;"
            data-type="addCar"
          >
            添加
          </button>
        </div>
      </div>
    </div>

    <div class="layui-card-body"></div>
    <div class="layui-card-body">
      <table id="car_list_table" lay-filter="car_list_table"></table>
    </div>
  </div>
</div>

<script>
  layui.use('car', layui.factory('car')).use(['admin', 'table'], function () {
    var table = layui.table
  })
</script>
<!-- 表格状态列 -->
<script type="text/html" id="buttonTpl">
  {{# if( d.status === 'NotLeaving'){ }}
  <button class="layui-btn layui-btn-xs">{{d.statusText}}</button>
  {{# } else if ( !d.status ){ }}
  <button class="layui-btn layui-btn-normal layui-btn-xs">
    {{d.statusText}}
  </button>
  {{# } else if (d.status === 'NotReturned'){ }}
  <button class="layui-btn layui-btn-warm layui-btn-xs">
    {{d.statusText}}
  </button>
  {{# } else { }}
  <button class="layui-btn layui-btn-normal layui-btn-xs">
    {{d.statusText}}
  </button>
  {{#}}}
</script>
<!-- 表格工具栏 -->
<script type="text/html" id="car_list_table_edit">
  {{# if(d.ROLE_VEHICLE_RECORD){ }} {{# if ( d.canRecord ){ }}
  <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="log">记录</a>
  {{# } }} {{# } }} {{# if(d.ROLE_VEHICLE_SAVE){ }}
  <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
  {{# } }} {{# if(d.ROLE_VEHICLE_SAVE){ }}
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"
    ><i class="layui-icon layui-icon-delete"></i>删除</a
  >
  {{# } }}
</script>
<!-- 记录弹窗内容模版 -->
<script type="text/html" id="car_list_log_open">
  <div class="layui-input-block" style="margin-left:0">
    <!-- <textarea
      name="desc"
      id="car_text_opener"
      placeholder="请输入备注"
      class="layui-textarea"
    ></textarea> -->
  </div>
</script>
<script>
  layui.use(['admin', 'form', 'common'], function () {
    var $ = layui.$,
      form = layui.form
    if (window.utils.hasPermission('ROLE_USER_SAVE')) {
      $('#addCar').show()
    }
  })
</script>
