<title>发起审批</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>审批管理</cite></a>
    <a><cite>我发起的</cite></a>
    <a><cite>发起审批</cite></a>
  </div>
</div>

<!-- 布局 -->
<div class="layui-fluid">
  <div class="layui-card">
    <div
      class="layui-form"
      id="createApply_form"
      lay-filter="createApply_form"
      style="padding: 20px 30px 20px 0"
    >
      <div class="layui-form-item">
        <label class="layui-form-label">审批编号</label>
        <div class="layui-input-inline">
          <script type="text/html" template>
            <input
              type="text"
              name="number"
              value="{{ d.params.number || '' }}"
              lay-verify="required|onlyone"
              placeholder="请输审批编号"
              autocomplete="off"
              class="layui-input"
            />
          </script>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-inline">
          <script type="text/html" template>
            <input
              type="text"
              name="title"
              value="{{ d.params.title || '' }}"
              lay-verify="required"
              placeholder="请输标题"
              autocomplete="off"
              class="layui-input"
            />
          </script>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">文件编号</label>
        <div class="layui-input-inline">
          <script type="text/html" template>
            <input
              type="text"
              name="documentNumber"
              value="{{ d.params.documentNumber || '' }}"
              lay-verify="required"
              placeholder="请输文件编号"
              autocomplete="off"
              class="layui-input"
            />
          </script>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">密级</label>
        <div class="layui-input-inline">
          <script type="text/html" template>
            <input
              type="text"
              name="securityClassification"
              value="{{ d.params.securityClassification || '' }}"
              lay-verify="required"
              placeholder="请输密级"
              autocomplete="off"
              class="layui-input"
            />
          </script>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">审批文件</label>
        <div class="layui-input-inline">
          <script type="text/html" template>
            <button type="button" class="layui-btn" id="upload_word">
              <i class="layui-icon">&#xe67c;</i>上传文件
            </button>
            <div
              class="fileList_div"
              style="height:38px;line-height:38px;display:none"
            >
              <a
                class="file_a"
                style="display:block;height:100%;"
                id="filedList"
              >
              </a>
            </div>
          </script>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">审批流程</label>
        <div class="layui-input-inline" style="padding: 10px; width: auto">
          <script type="text/html" id="apply_list">
            <ul class="layui-timeline">
              {{# layui.each(d, function(index, item){ }}
              <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                  {{# if(item.name){ }}
                  <p style="line-height:1.3;color:#000000;margin-bottom:5px">
                    {{item.name}}
                  </p>
                  {{# if(item.comment){ }}
                  <p>{{item.comment}}</p>
                  {{# } }}
                  <button
                    data-type="{{index}}"
                    class="layui-btn layui-btn-xs applyList_edit"
                  >
                    修改
                  </button>
                  <button
                    data-type="{{index}}"
                    class="layui-btn layui-btn-xs layui-btn-danger applyList_del"
                  >
                    删除
                  </button>
                  {{# } else { }}
                  <button
                    class="layui-btn layui-btn-xs layui-btn-normal addPeople"
                    data-type="addPeople"
                  >
                    添加审批人
                  </button>
                  {{# } }}
                </div>
              </li>
              {{# }); }} {{# if(d.length === 0){ }} 无数据 {{# } }}
            </ul>
          </script>
          <div id="apply_list_view"></div>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
          <script type="text/html" template>
            <input
              type="button"
              lay-submit
              id="reApply"
              lay-filter="apply-submit"
              value="发起审批"
              class="layui-btn"
            />
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  layui
    .use('fileApplyCreate', layui.factory('fileApplyCreate'))
    .use(['admin', 'table'], function () {
      var table = layui.table
    })
</script>
