<div class="layui-card">
  <div
    class="layui-form layui-card-header layuiadmin-card-header-auto"
    lay-filter="layadmin-useradmin-formlist"
  >
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
          <input
            type="text"
            name="name"
            placeholder="请输入"
            autocomplete="off"
            class="layui-input"
          />
        </div>
      </div>

      <div class="layui-inline">
        <button
          class="layui-btn layuiadmin-btn-admin"
          lay-submit
          lay-filter="LAY-user-back-search"
        >
          <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="layui-card-body">
    <table id="LAY-user-back-manage" lay-filter="LAY-user-back-manage"></table>
    <script type="text/html" id="buttonTpl">
      {{# if(d.check == true){ }}
      <button class="layui-btn layui-btn-xs">已审核</button>
      {{# } else { }}
      <button class="layui-btn layui-btn-primary layui-btn-xs">未审核</button>
      {{# } }}
    </script>
    <script type="text/html" id="table-useradmin-admin">
      <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"
        ><i class="layui-icon layui-icon-edit"></i>选择</a
      >
    </script>
  </div>
</div>

<script>
  layui.use(['admin', 'table'], function () {
    var $ = layui.$,
      admin = layui.admin,
      view = layui.view,
      table = layui.table,
      form = layui.form

    form.render(null, 'layadmin-useradmin-formlist')
    // table.render({
    //   elem: '#LAY-user-back-manage',
    //   cols: [
    //     [
    //       // { type: 'checkbox', fixed: 'left' },
    //       { field: 'username', title: '登录名' },
    //       { field: 'name', title: '真实姓名' },
    //       // { field: 'phone', title: '手机' },
    //       // { field: 'mobile', title: '电话' },
    //       // { field: 'company', title: '单位' },
    //       // { field: 'position', title: '职位' },
    //       // { field: 'createTime', title: '创建时间', sort: true },
    //       {
    //         title: '操作',
    //         align: 'center',
    //         fixed: 'right',
    //         toolbar: '#table-useradmin-admin',
    //       },
    //     ],
    //   ],
    //   url: '/sys/user/findAll', //模拟接口
    //   headers: {
    //     Authorization: layui.data('layuiAdmin').Authorization,
    //   },
    //   page: true,
    //   limit: 30,
    //   response: {
    //     statusCode: 200, //规定成功的状态码，默认：0
    //   },
    //   parseData: function (res) {
    //     return {
    //       code: res.code, //解析接口状态
    //       msg: res.msg, //解析提示文本
    //       count: res.data.totalElements, //解析数据长度
    //       data: res.data.content.filter(function (item) {
    //         return item.isDelete !== 'Y'
    //       }), //解析数据列表
    //     }
    //   },
    //   done: function (res, curr, count) {
    //     //如果是异步请求数据方式，res即为你接口返回的信息。
    //     //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
    //     console.log(res)

    //     //得到当前页码
    //     console.log(curr)

    //     //得到数据总量
    //     console.log(count)
    //   },
    //   text: {
    //     none: '暂无数据',
    //   },
    // })
    // //监听搜索
    // form.on('submit(LAY-user-back-search)', function (data) {
    //   var field = data.field.name
    //   var where = {}
    //   if (field) {
    //     where = {
    //       search_AND_EQ_username: field,
    //     }
    //   }
    //   //执行重载
    //   table.reload('LAY-user-back-manage', {
    //     where: where,
    //   })
    // })
  })
</script>
