<div
  class="layui-form"
  lay-filter="layuiadmin-form-role"
  style="padding: 20px 30px 0 0"
>
  <div class="layui-form-item">
    <label class="layui-form-label">角色名称</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input
          type="text"
          name="name"
          value="{{ d.params.name || '' }}"
          placeholder="请输入角色名称"
          autocomplete="off"
          class="layui-input"
        />
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">权限范围</label>
    <div class="layui-input-block" id="permission_list_view">
      <script type="text/html" template>
        {{# layui.each(d.params.allList, function(index,item){ }} 
        {{# if(item.checked){ }}
        <input
          type="checkbox"
          checked
          name="limits[]"
          lay-skin="primary"
          title="{{item.name}}"
        />
        {{# }else { }}
        <input
          type="checkbox"
          name="limits[]"
          lay-skin="primary"
          title="{{item.name}}"
        />
        {{# } }} {{# }) }}
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">具体描述</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <textarea
          type="text"
          name="comments"
          lay-verify="required"
          autocomplete="off"
          class="layui-textarea"
        >
{{ d.params.comments || '' }}</textarea
        >
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input
        type="button"
        lay-submit
        lay-filter="LAY-user-role-submit"
        value="确认"
        class="layui-btn"
      />
    </div>
  </div>
</div>
<script type="text/html" id="permission_list">
  {{# layui.each(d, function(index,item){ }}
  <input
    type="checkbox"
    name="limits[]"
    lay-skin="primary"
    title="{{item.name}}"
  />
  {{# }) }}
</script>
<script>
  layui.use(['admin', 'form', 'laytpl'], function () {
    var $ = layui.$,
      admin = layui.admin,
      laytpl = layui.laytpl
    form = layui.form
    // admin.req({
    //   url: '/sys/role/findAllPermission',
    //   done: function (res) {
    //     console.log(res)
    //     if (res.code === 200) {
    //       var realList = []
    //       var needModel = ['1', '8', '16']
    //       res.data.forEach(function (item) {
    //         if (needModel.includes(item.id)) {
    //           item.children.forEach(function (item1) {
    //             realList.push(item1)
    //           })
    //         }
    //       })
    //       console.log(realList)
    //       laytpl($('#permission_list').html()).render(
    //         realList,
    //         function (html) {
    //           $('#permission_list_view').html(html)
    //           form.render()

    //           $('.layui-form-checkbox').click()
    //           // form.render()
    //         }
    //       )
    //     }
    //     laytpl
    //   },
    // })
  })
</script>
